.btn{
    align-items: center;
    border-radius: 12px;
    border: 2px solid $black-color;
    color: $black-color;
    display: flex;
    font-family: $font-title;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
    margin: 25px auto;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    max-width: 280px;
    padding: 12px 25px;
    box-shadow: 0px 6px 12px rgba($color: $blue-color, $alpha: .5);

    &-link{
        border-color: $blue-color;
        color: $blue-color;
    }

    &-blue{
        border-color: $blue-color;
        color: $white-color;
        background-color: $blue-color;
    }
}