.mk-content{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    grid-area: content;

    &__container{
        padding-top: 25px;
    }

    &__title{
        h1{
            text-align: center;
            padding: 10px 0;
        }
    }

    &__text{
        font-family: $font-content;

        p{
            padding: 10px 0;
        }
    }

    &__cards{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 0px;


        &-container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 50px;
        }

        &-item{
            border-radius: 12px;
            border: 2px solid $blue-color;
            height: 180px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-around;

            h2{
                text-align: center;
            }

            &--gold{
                border: 2px solid $gold-color;
                text-align: left;
                padding-bottom: 4rem;
                height: 220px;
                justify-content: flex-start;
                align-items: flex-start;

                h2{
                    text-align: left;
                    margin-bottom: 1rem;
                }

                p{
                    font-family: $font-content;
                    font-weight: 400;
                }
            }
        }
    }
}