@font-face {
    font-family: 'Candara';
    src: url('fonts/Candara.eot');
    src: url('fonts/Candara.eot?#iefix') format('embedded-opentype'),
        url('fonts/Candara.woff2') format('woff2'),
        url('fonts/Candara.woff') format('woff'),
        url('fonts/Candara.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Courier New';
    src: url('fonts/CourierNewPS-BoldMT.eot');
    src: url('fonts/CourierNewPS-BoldMT.eot?#iefix') format('embedded-opentype'),
        url('fonts/CourierNewPS-BoldMT.woff2') format('woff2'),
        url('fonts/CourierNewPS-BoldMT.woff') format('woff'),
        url('fonts/CourierNewPS-BoldMT.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

