section.banner__container            
    .banner__text-container
        .banner__text
            img(src="src/img/SVG/logotipo-primary-no-bg.svg", alt="Logo MAOMK solutions")
            p Transformando ideas en experiencias digitales
    .banner__img
        include _bannerHomeSVG.pug