footer.mk-footer 
    .mk-footer__container
        .mk-footer__logo
            a(href="/Home", target="_blank")
                img(src="src/img/SVG/logotipo-primary-no-bg.svg", alt="Logo MAOMK solutions")
        .mk-footer__contact
            .mk-footer__contact-container
                p por: <b>Omar Camilo Torres</b>
                p linkedin
                p github
                p copyright ©2023 All Rights Reserved 
        nav.mk-footer__nav-container
            .mk-footer__nav-item.mk-footer__nav-item--active
                a(href="/Home", target="_blank") Inicio
            .mk-footer__nav-item
                a(href="/About", target="_blank") Conóceme
            .mk-footer__nav-item
                a(href="/Experience", target="_blank") Experiencia
            .mk-footer__nav-item
                a(href="/Contact", target="_blank") Contáctame