header.mk-header
  .mk-header__container
    .mk-header__logo-container
      a(href="/Home", target="_blank")
        img(src="src/img/SVG/Isotipo-primary-no-bg.svg", alt="Logo Criollo")
    nav.mk-header__nav-container
      a.mk-header__menu-toggle(href="#", aria-expanded="false", aria-controls="mk-header__nav", role="button")
        span.sr-only
      ul.mk-header__nav#mk-header__nav
        li.mk-header__nav-item
          a(href="/index.html", rel="index") Inicio
        li.mk-header__nav-item
          a(href="/about.html", rel="about") Con칩ceme
        li.mk-header__nav-item
          a(href="/experience.html", rel="experience") Experiencia
        li.mk-header__nav-item
          a(href="/contact.html", rel="contact") Cont치ctame

  // Mobile Menu
  .mk-header__mobile-nav
    ul.mk-header__nav#mk-header__mobile-nav
      li.mk-header__nav-item
        a(href="/index", target="_blank", rel="index") Inicio
      li.mk-header__nav-item
        a(href="/about", target="_blank", rel="about") Con칩ceme
      li.mk-header__nav-item
        a(href="/experience", target="_blank", rel="experience") Experiencia
      li.mk-header__nav-item
        a(href="/contact", target="_blank", rel="contact") Cont치ctame
