header.mk-header
    .mk-header__container
        .mk-header__logo-container
            a(href="/Home", target="_blank")
                img(src="src/img/SVG/Isotipo-primary-no-bg.svg", alt="Logo Criollo")
        nav.mk-header__nav-container
            .mk-header__nav-item.mk-header__nav-item--active
                a(href="/Home", target="_blank") Inicio
            .mk-header__nav-item
                a(href="/About", target="_blank") Conóceme
            .mk-header__nav-item
                a(href="/Experience", target="_blank") Experiencia
            .mk-header__nav-item
                a(href="/Contact", target="_blank") Contáctame
    