extends ../layouts/base.pug

block Content
    include ../components/_bannerHome.pug    
    section.mk-content__container
        .mk-content__title
            h1 Conóceme
        .mk-content__text 
            p MAOMK SOLUTINONS brinda soluciones digitales para todo negocio que busque distinción mediante nuevas experiencias gráficas. 

            p MAOMK SOLUTINONS es una marca personal que nace gracias a mi interés de aplicar mis habilidades y conocimientos adquiridos en más de 5 años de experiencia en desarrollo, diseño, animación, ilustración y marketing. 

            p Mi propósito es dejar huella en lo que hago y trabajo siguiendo las buenas practicas de la industria.
    section.mk-content__cards
        .mk-content__cards-container
            .mk-content__cards-item.mk-content__cards-item--gold
                h2 MISIÓN:
                p Brindar soluciones digitales que se conviertan en experiencias gráficas que acompañen y evolucionen con nuestros clientes.
            .mk-content__cards-item.mk-content__cards-item--gold
                h2 VISIÓN:
                p Ser el principal aliado de las empresas lideres que quieran distinguirse de su competencia mediante experiencias gráficas.
            .mk-content__cards-item.mk-content__cards-item--gold
                h2 VALORES:
                p Adaptabilidad, Creatividad, Diversidad y Conocimiento.