extends ../layouts/base.pug

block Content
    .content
        .banner__container            
            .banner__text-container
                .banner__text
                    img(src="src/img/SVG/logotipo-primary-no-bg.svg", alt="Logo MAOMK solutions")

                    p Transformando ideas en experiencias digitales
            .banner__img
                img(src="src/img/SVG/bannerHome.svg", alt="", srcset="")
    section.mk-content__container
        .mk-content__title
            h1 EXPERIENCE
        .mk-content__text 
            h2 DIPAOLA LATINA:
            h3 Resumen:
            p 
            |   Llevo más de 5 años trabajando en el sector de la tecnología. Inicié haciendo email-marketing y gestión de bases de datos en diPaola Latina. Este fue mi primer acercamiento a HTML y a los servidores en la nube para CRM (como Salesforce Marketing)para marcas como Constructor, Terpel, VISA, Tienda Inglesa, Ceresit, entre otros.
            p 
            |   A los pocos meses mis actividades se enfocaron al desarrollo web, en su mayoría al front-end, con lo cual adquirí experiencia trabajando con HTML, CSS y JS. Mis tareas consistían en la maquetación, desarrollo y mantenimiento de sitios web para marcas como Constructor, Terpel, VISA, Tienda Inglesa, Ceresit, entre otros.
            h3 Logros:
            p 
            |   Mi pasión por el aprendizaje y el desarrolló, junto con las oportunidades brindadas, me dieron las herramientas para convertirme en un apoyo en cuanto asesoría, desarrollo y mantenimiento en el campo del front end. Lo cual permitió a la compañía desarrollar proyectos completamente de forma local (Bogotá, Colombia), optimizando tiempos de entrega.
        .mk-content__text 
            h2 OPEN ENGLISH:
            h3 Resumen:
            p 
            |   El ultimo año y medio mis actividades se han enfocado en el área de Email Development trabajando en campañas para Open English, Open English JR y Next U. Gracias a esto amplié mis conocimientos sobre el campo del Email Marketing y el manejo de CRM como Salesforce Marketing Cloud. 
            h3 Logros:
            p 
            |   Con los conocimientos obtenidos en esta compañía sobre el manejo de CRM y mi experiencia, ajusté los filtros para que la segmentación de las audiencias se actualizara de forma automática todos los días, ahorrando así tiempo y optimizando el proceso de desarrollo y envío de cada email.
        .mk-content__title
            h1 SKILLS
        .mk-content__text 
            p 
            |   Gracias a la experiencia, conocimiento y oportunidades que he adquirido en las compañías que me han acogido, sumado a mi amor infinito por aprender y crecer cada día, he desarrollado excelentes habilidades dentro de los siguientes campos:
    section.mk-content__cards
        .mk-content__cards-container
            .mk-content__cards-item
                h2 WEB DEVELOPMENT
                p Siempre me ha gustado la maquetación, el código y la animación.
                p   En esta sección puedes ver proyectos donde aplico mis conocimientos en HTML, CSS (SASS, ITCSS) y JS (NODE, React, Vue)en proyectos de web y email development.
                a(href="#", target="_blank").btn.btn-link ver más
            .mk-content__cards-item
                h2 DESIGN
                p El diseño y la ilustración siempre han sido de mis más grandes hobbies. Esto me ha llevado a adquirir conocimiento en el manejo de herramientas y conceptos que han aportado tanto en proyectos laborales como personales.
                a(href="#", target="_blank").btn.btn-link ver más
            .mk-content__cards-item
                h2 CRM
                p  El manejo de plataformas CRM ha sido parte de mis actividades desde el inicio, gracias a esto he adquirido bastante conocimiento sobre Email Marketing y el manejo de estas plataformas.
                a(href="#", target="_blank").btn.btn-link ver más