extends ../layouts/base.pug

block Content
    include ../components/_bannerHome.pug
    section.mk-content__container
        .mk-content__title
            h1 Experiencia
        .mk-content__text 
            p He trabajado en la industria de la tecnología desde hace más de 5 años y mis actividades han estado enfocadas en el desarrollo web y el CRM. Si deseas saber más te invito a visitar la sección de Experience & skills donde encontrarás más información sobre las compañías para las que he trabajado y podrás ver algunos de mis proyectos.
            p También puedes ver mis proyectos aquí:
    section.mk-content__cards
        .mk-content__cards-container
            .mk-content__cards-item
                h2 WEB DEVELOPMENT
                a(href="#", target="_blank").btn.btn-link ver más
            .mk-content__cards-item
                h2 DESIGN
                a(href="#", target="_blank").btn.btn-link ver más
            .mk-content__cards-item
                h2 CRM
                a(href="#", target="_blank").btn.btn-link ver más
    section.mk-content__container
        .mk-content__title
            h1 CONTÁCTAME
        .mk-content__text 
            p Te invito a conversar o a que me dejes un mensaje en la sección de Contáctame donde encontrarás mis redes sociales y un formulario de contacto. ¡Te espero!
