extends ../layouts/Layout.pug

block Content
    .content
        .banner__container
            .banner__placeholder
                p Img
            .banner__text-container
                .banner__text
                    p <b>MAOMK SOLUTIONS</b> es una marca personal que he creado para ofrecer mis servicios en el campo de la tecnología. Si deseas conocer más acerca de mi y de la marca te invito a que visites la sección de quiénes somos donde encontrarás que es lo que me motiva.

                    a(href="#", target="_blank").btn.btn-link ver más
        .content__container
            .content__title
                h1 Experiencia
            .content__text 
                p He trabajado en la industria de la tecnología desde hace más de 5 años y mis actividades han estado enfocadas en el desarrollo web y el CRM. Si deseas saber más te invito a visitar la sección de Experience & skills donde encontrarás más información sobre las compañías para las que he trabajado y podrás ver algunos de mis proyectos.

                p También puedes ver mis proyectos aquí:
        .content__cards
            .content__cards-container
                .content__cards-item
                    h2 WEB DEVELOPMENT
                    a(href="#", target="_blank").btn.btn-link ver más
                .content__cards-item
                    h2 DESIGN
                    a(href="#", target="_blank").btn.btn-link ver más
                .content__cards-item
                    h2 CRM
                    a(href="#", target="_blank").btn.btn-link ver más
        .content__container
            .content__title
                h1 CONTACTAME
            .content__text 
                p Te invito a conversar o a que me dejes un mensaje en la sección de Contactame donde encontrarás mis redes sociales y un formulario de contacto. ¡Te espero!
