/* Box sizing rule */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
}

/* Remove default padding */
body,
ol,
ul {
  padding: 0;
}

/* Remove list styles */
ol,
ul {
  list-style: none;
}

/* Set default font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Set default hyperlink styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove border on all inputs */
input,
textarea,
select,
button {
  border: none;
  outline: none;
  appearance: none;
}

/* Remove default button styles */
button {
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

@font-face {
  font-family: "Candara";
  src: url("../fonts/Candara.eot");
  src: url("../fonts/Candara.eot?#iefix") format("embedded-opentype"), url("../fonts/Candara.woff2") format("woff2"), url("../fonts/Candara.woff") format("woff"), url("../fonts/Candara.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Courier New";
  src: url("../fonts/CourierNewPSMT.eot");
  src: url("../fonts/CourierNewPSMT.eot?#iefix") format("embedded-opentype"), url("../fonts/CourierNewPSMT.woff2") format("woff2"), url("../fonts/CourierNewPSMT.woff") format("woff"), url("../fonts/CourierNewPSMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Candara";
  src: url("../fonts/Candara-Bold.eot");
  src: url("../fonts/Candara-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Candara-Bold.woff2") format("woff2"), url("../fonts/Candara-Bold.woff") format("woff"), url("../fonts/Candara-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
h1, h2, h3 {
  font-family: "Candara";
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 18px;
}

body {
  background-color: #E9EFF2;
  min-height: 100vh;
}

.mk-grid {
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: auto 1fr auto;
}

.mk-header {
  background-color: #333;
  box-shadow: 4px 4px 16px rgba(51, 51, 51, 0.6);
  grid-area: header;
}
.mk-header__container {
  display: grid;
  grid-template-columns: 30% 1fr;
  margin: 0 auto;
  width: 80%;
}
.mk-header__logo-container {
  padding: 25px 0;
}
.mk-header__nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}
.mk-header__nav-container {
  color: #96A65D;
  column-gap: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.mk-header__nav-item {
  align-items: center;
  color: inherit;
  display: flex;
  justify-content: center;
}
.mk-header__nav-item a {
  color: inherit;
  font-family: "Candara";
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.mk-header__nav-item--active {
  color: #D9CE9A;
}
.mk-header__menu-toggle {
  display: none;
}
.mk-header__mobile-nav {
  display: none;
}

@media (max-width: 768px) {
  .mk-header__container {
    grid-template-columns: 1fr 10%;
  }
  .mk-header__nav {
    display: none;
  }
  .mk-header__menu-toggle {
    display: block;
    z-index: 2;
  }
  .mk-header__menu-toggle span {
    background-color: #96A65D;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: transform 0.3s ease-out;
    width: 25px;
  }
  .mk-header__menu-toggle span::before, .mk-header__menu-toggle span::after {
    background-color: #96A65D;
    content: "";
    height: 2px;
    position: absolute;
    transition: transform 0.3s ease-out;
    width: 100%;
  }
  .mk-header__menu-toggle span::before {
    top: -8px;
  }
  .mk-header__menu-toggle span::after {
    bottom: -8px;
  }
  .mk-header__menu-toggle.active span {
    transform: rotate(45deg);
  }
  .mk-header__menu-toggle.active span::before {
    transform: rotate(-45deg);
    top: 0;
  }
  .mk-header__menu-toggle.active span::after {
    transform: rotate(45deg);
    bottom: 0;
  }
  .mk-header__mobile-nav {
    align-items: center;
    background-color: #333;
    color: #D9CE9A;
    display: flex;
    height: 50vh;
    justify-content: center;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: max-height 0.3s ease-out;
    width: 100%;
  }
  .mk-header__mobile-nav .mk-header__nav {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .mk-header__mobile-nav.active {
    max-height: 500px;
  }
}
.mk-footer {
  background-color: #96A65D;
  box-shadow: -4px -4px 16px rgba(150, 166, 93, 0.6);
  grid-area: footer;
}
.mk-footer__container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 0 auto;
  padding: 25px 0;
  width: 80%;
}
@media (max-width: 768px) {
  .mk-footer__container {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}
.mk-footer__logo {
  align-items: center;
  display: flex;
  justify-content: start;
}
@media (max-width: 768px) {
  .mk-footer__logo {
    justify-content: center;
  }
}
.mk-footer__contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: "Courier New";
  justify-content: center;
}
.mk-footer__contact-container {
  text-align: center;
  width: 80%;
}
.mk-footer__nav-container {
  align-items: end;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
@media (max-width: 768px) {
  .mk-footer__nav-container {
    align-items: center;
  }
}
.mk-footer__nav-item {
  color: #333;
  font-family: "Candara";
}
.mk-footer__nav-item a {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
.mk-footer__nav-item--active {
  color: #204C73;
}

.banner__container {
  align-content: center;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #333;
  box-shadow: 0px 6px 12px rgba(51, 51, 51, 0.4);
  column-gap: 0;
  display: grid;
  grid-template-columns: 45% 55%;
  margin: 0 auto;
  max-width: 1100px;
  padding: 20px 20px;
  width: 100%;
}
@media (max-width: 768px) {
  .banner__container {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}
.banner__img {
  align-items: center;
  display: flex;
  justify-content: center;
}
.banner__img img {
  width: 90%;
}
.banner__placeholder {
  align-items: center;
  background-color: #D9CE9A;
  display: flex;
  font-family: "Candara";
  font-size: 30px;
  font-weight: 700;
  height: 300px;
  justify-content: center;
  width: 100%;
}
.banner__text {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  justify-content: center;
  max-width: 400px;
  width: 100%;
}
.banner__text-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.banner__text p {
  font-family: "Courier New";
  text-align: center;
}
.banner__text img {
  margin-bottom: 1rem;
  width: 300px;
}

.banner-cls-1 {
  fill: #E9EFF2;
}

.banner-cls-1, .banner-cls-2 {
  stroke-miterlimit: 10;
}

.banner-cls-1, .banner-cls-2, .banner-cls-3 {
  stroke: #204C73;
  stroke-width: 4px;
}

.banner-cls-2, .banner-cls-3 {
  fill: none;
}

.banner-cls-3 {
  stroke-linejoin: round;
}

#mail-tab {
  cursor: pointer;
  position: relative;
}
#mail-tab::after {
  content: "HOLA";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #204C73;
  width: 150px;
  height: 200px;
  z-index: 15;
}
#mail-tab:hover {
  display: none;
}
#mail-tab:hover::after {
  content: "HOLA";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #204C73;
  width: 150px;
  height: 200px;
  z-index: 15;
}

.btn {
  align-items: center;
  border-radius: 12px;
  border: 2px solid #333;
  color: #333;
  display: flex;
  font-family: "Candara";
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
  margin: 25px auto;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  max-width: 280px;
  padding: 12px 25px;
  box-shadow: 0px 6px 12px rgba(32, 76, 115, 0.5);
}
.btn-link {
  border-color: #204C73;
  color: #204C73;
}
.btn-blue {
  border-color: #204C73;
  color: #E9EFF2;
  background-color: #204C73;
}

.mk-content {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  grid-area: content;
}
.mk-content__container {
  padding-top: 25px;
}
.mk-content__title h1 {
  text-align: center;
  padding: 10px 0;
}
.mk-content__text {
  font-family: "Courier New";
}
.mk-content__text p {
  padding: 10px 0;
}
.mk-content__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
  width: 100%;
}
.mk-content__cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
  width: 100%;
  justify-items: center;
}
.mk-content__cards-item {
  border-radius: 12px;
  border: 2px solid #204C73;
  height: auto;
  padding: 20px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.mk-content__cards-item h2 {
  text-align: center;
}
.mk-content__cards-item--gold {
  border: 2px solid #96A65D;
  text-align: left;
  padding-bottom: 4rem;
  height: 220px;
  justify-content: flex-start;
  align-items: flex-start;
}
.mk-content__cards-item--gold h2 {
  text-align: left;
  margin-bottom: 1rem;
}
.mk-content__cards-item--gold p {
  font-family: "Courier New";
  font-weight: 400;
}

.mk-contact-form {
  padding: 3rem 0;
}
.mk-contact-form__container {
  display: flex;
  flex-direction: column;
}
.mk-contact-form__container input, .mk-contact-form__container textarea {
  border: 2px solid #333;
  border-radius: 0.4rem;
  margin: 1rem 0px;
  padding: 1rem;
  font-size: 1rem;
  padding-left: 2rem;
}
.mk-contact-form__container textarea {
  resize: none;
}

/*# sourceMappingURL=app.css.map */
